@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  background: #d3d3d3;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  position: fixed;
  top: 0;
  background: lightgray;
  padding: 1em;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-size: 1.2em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.logo:hover {
  color: #808080;
}

.logo span {
  color: #808080;
}

nav {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.social-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-section {
  background: #20272e;
}

#twtr-btn,
#twch-btn,
#dscrd-btn,
#fb-btn,
#yt-btn,
#wa-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
}

#twtr-btn:hover {
  -webkit-filter: invert(45%) sepia(74%) saturate(2003%) hue-rotate(165deg) brightness(102%) contrast(101%);
          filter: invert(45%) sepia(74%) saturate(2003%) hue-rotate(165deg) brightness(102%) contrast(101%);
}

#twch-btn:hover {
  -webkit-filter: invert(34%) sepia(68%) saturate(5050%) hue-rotate(250deg) brightness(103%) contrast(99%);
          filter: invert(34%) sepia(68%) saturate(5050%) hue-rotate(250deg) brightness(103%) contrast(99%);
}

#dscrd-btn:hover {
  -webkit-filter: invert(58%) sepia(95%) saturate(1357%) hue-rotate(198deg) brightness(88%) contrast(93%);
          filter: invert(58%) sepia(95%) saturate(1357%) hue-rotate(198deg) brightness(88%) contrast(93%);
}

#fb-btn:hover {
  -webkit-filter: invert(32%) sepia(10%) saturate(3585%) hue-rotate(183deg) brightness(96%) contrast(84%);
          filter: invert(32%) sepia(10%) saturate(3585%) hue-rotate(183deg) brightness(96%) contrast(84%);
}

#yt-btn:hover {
  -webkit-filter: invert(12%) sepia(100%) saturate(6245%) hue-rotate(0deg) brightness(93%) contrast(118%);
          filter: invert(12%) sepia(100%) saturate(6245%) hue-rotate(0deg) brightness(93%) contrast(118%);
}

#wa-btn:hover {
  -webkit-filter: invert(64%) sepia(8%) saturate(2833%) hue-rotate(76deg) brightness(103%) contrast(99%);
          filter: invert(64%) sepia(8%) saturate(2833%) hue-rotate(76deg) brightness(103%) contrast(99%);
}

.mobile-menu {
  cursor: pointer;
  position: relative;
  right: 0;
  margin: 0.2em 1.5em 0.5em 1em;
  padding: 0.5em 1em 0.5em 1em;
}

a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

section {
  padding: 1em 2em;
}

.hero {
  text-align: center;
}

.left-col {
  top: 10%;
  left: 10%;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  letter-spacing: 0.3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.left-col .primary-cta {
  background: lightgray;
  color: blue;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.3rem;
  border-radius: 5em;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  line-height: 0.75em;
}

.left-col .primary-cta:hover {
  color: white;
  background: blue;
}

.left-col .subscribe-cta {
  display: block;
  margin-top: 2em;
  text-decoration: none;
  margin-bottom: 1em;
}

.left-col .subscribe-cta:hover {
  text-decoration: underline;
}

.left-col .subscribe-cta img {
  margin-right: 0.5em;
}

.left-col iframe {
  position: relative;
}

h2 {
  font-size: 2em;
}

#yt-frame {
  width: 100%;
  height: 560px;
  border-radius: 3em;
}

.project-frame {
  width: 90%;
  height: 500px;
  border-radius: 3em;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3em;
  text-align: center;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav li a:hover {
  color: gray;
}

nav li a:active {
  color: blue;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5em;
    margin-top: -0.2em;
  }
}

.social-section {
  text-align: center;
}

.social-section li a {
  margin: 2.5em;
}

.social-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  justify-self: center;
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 1em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  .social-section {
    text-align: center;
  }
  .social-section li a {
    margin: 2.5em;
  }
  .social-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    justify-self: center;
  }
  .social-list {
    margin: 0 6em;
  }
  .social-list #twtr-btn,
  .social-list #twch-btn,
  .social-list #dscrd-btn,
  .social-list #fb-btn,
  .social-list #yt-btn,
  .social-list #wa-btn {
    width: 3em;
    height: 3em;
    padding: 1em;
  }
}

.dl-head {
  text-align: center;
  font-size: 4em;
  margin-top: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dl-links-grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item a {
  padding: 2em;
  border-radius: 3em;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.grid-item a:hover {
  background-color: blue;
  color: white;
}

.grid-item {
  padding: 2em;
}

h3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 300px;
}

.about-head {
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 2rem;
}

.bio-container {
  display: block;
  padding: 2em;
}

.me-container {
  display: flexbox;
  margin: 2em 0 0 0;
  border-radius: 1em;
  padding: 1em 1em 0 1em;
}

.portrait {
  height: 15em;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.my-name {
  font-size: 2rem;
  display: block;
  text-align: center;
  margin: 1em 0 1em 0;
  text-decoration: underline;
}

.skill {
  display: block;
  margin-bottom: 0.5em;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  line-height: 1rem;
}

.skills {
  display: inline-flexbox;
  text-align: center;
}

.skills-head {
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  display: inline-block;
}

.cert-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px 0px;
      grid-template-areas: ". . ." ". . .";
}

.certs img {
  width: 30vw;
}

.more-certs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  line-height: 3em;
  text-decoration: none;
}

.more-certs:hover {
  text-decoration: underline;
  color: blue;
}

#frp-container {
  margin-top: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#frp-list li {
  display: block;
  border: 1px solid black;
  margin: .5em;
}
/*# sourceMappingURL=main.css.map */