@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  background: lightgray;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  position: fixed;
  top: 0;
  background: lightgray;
  padding: 1em;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-size: 1.2em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.logo:hover {
  color: #808080;
}

.logo span {
  color: #808080;
}

nav {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.features-section {
  background: #20272e;
}

#twtr-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

#twtr-btn:hover {
  background-color: #00acee;
}

#twch-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

#twch-btn:hover {
  background-color: #9147fe;
}

#dscrd-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

#dscrd-btn:hover {
  background-color: #7289d9;
}

#fb-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

#fb-btn:hover {
  background-color: #3b5998;
}

#yt-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

#yt-btn:hover {
  background-color: #FF0000;
}

#wa-btn {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  border-radius: 1em;
}

#wa-btn:hover {
  background-color: #4fce5d;
}

.mobile-menu {
  cursor: pointer;
  position: relative;
  right: 0;
  margin: 0.2em 1.5em 0.5em 1em;
  padding: 0.5em 1em 0.5em 1em;
}

a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

section {
  padding: 1em 2em;
}

.hero {
  text-align: center;
}

.left-col {
  top: 10%;
  left: 10%;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: lightgray;
  color: blue;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: .5s;
}

.left-col .primary-cta:hover {
  color: white;
  background: blue;
}

.left-col .subscribe-cta {
  display: block;
  margin-top: 2em;
  text-decoration: none;
  margin-bottom: 1em;
}

.left-col .subscribe-cta:hover {
  text-decoration: underline;
}

.left-col .subscribe-cta img {
  margin-right: .5em;
}

.left-col iframe {
  position: relative;
}

h2 {
  font-size: 2em;
}

iframe {
  width: 100%;
  height: 560px;
  border-radius: 3em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

nav li a:hover {
  color: gray;
}

nav li a:active {
  color: blue;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5em;
    margin-top: -.2em;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 3em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  .features-list {
    margin: 0 6em 0 6em;
  }
  .features-list .twtr-btn {
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 1em;
  }
  .features-list .twtr-btn:hover {
    background-color: #00acee;
  }
  .features-list .twch-btn {
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 1em;
  }
  .features-list .twch-btn:hover {
    background-color: #9147fe;
  }
  .features-list .dscrd-btn {
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 1em;
  }
  .features-list .dscrd-btn:hover {
    background-color: #7289d9;
  }
  .features-list .fb-btn {
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 1em;
  }
  .features-list .fb-btn:hover {
    background-color: #3b5998;
  }
  .features-list .yt-btn {
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 1em;
  }
  .features-list .yt-btn:hover {
    background-color: #FF0000;
  }
  .features-list .wa-btn {
    width: 2em;
    height: 2em;
    padding: 1em;
    border-radius: 1em;
  }
  .features-list .wa-btn:hover {
    background-color: #4fce5d;
  }
}

.dl-head {
  text-align: center;
  font-size: 4em;
  margin: 0 0 1em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-section li a {
  margin: 2.5em;
}
/*# sourceMappingURL=main.css.map */