* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#count-cont {
    text-align: center;
div {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
}